/* src/ScrollToTopButton.css */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-to-top-button {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
