body {
  top: 0 !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
}

.google-translate-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.goog-logo-link,
.goog-te-banner-frame,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  background-color: transparent !important;
  color: white !important;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.goog-te-gadget .goog-te-combo option {
  color: black;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
