::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
                                   40% 0%,
                                   75% 84%,
                                   from(#333333),
                                   to(#000000),
                                   color-stop(.6,#666666));
}
.icon-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px blue;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-hover img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px blue;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
