@import url("https://fonts.googleapis.com/css2?family=Sevillana&family=Seymour+One&family=Teko:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply min-h-screen bg-[#000435]
    cursor-none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white;
  overflow: auto;
}

.custom-cursor {
  width: 30px;
  height: 30px;
  background: #393bb2;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
